.header{
	height:  100px;
	border-top: 3px solid #7A0331;
}
.navbar-default {
    background-color: #4169E1;
    /* border-color: #e7e7e7; */
}
@media (min-width: 768px){
.navbar {
    border-radius: 0px;
  }
.navbar-nav {
    margin: 0px 83px;
  }
}
.navbar {    
     border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition:all 0.6s ease-in-out;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #fff;
    color: #000
}
.navbar-default .navbar-nav>li>a:focus {
    background-color:#7A0331;
    color: #fff;
}

.slider{
	margin-top: -20px;
}
.sec1{

}
.video{
	padding: 10px;
}
.desc {
	text-align: center;
	padding: 0 0 0 0 ;
}

.btn-flat {
    background-color: #7A0331;
    border-radius: 0;
    border: none;
}